.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button {
  border-radius: 12px;
  border: solid;
  font-weight: 700;
  padding: 1rem;
  margin: 0.5rem;
}

// Base color scheme
$base-primary: #ABC3C9;
$base-secondary: #E0DCD3;
$base-accent: #CCBE9F;
$base-background: #382119;

// Protanopia color scheme
$protanopia-primary: #8EBCC5;
$protanopia-secondary: #E2DAD1;
$protanopia-accent: #C9BD9E;
$protanopia-background: #2E2B21;

// Deuteranopia color scheme
$deuteranopia-primary: #CABBCD;
$deuteranopia-secondary: #F4D4D4;
$deuteranopia-accent: #DCB69F; // 69 nice
$deuteranopia-background: #342A1F;

.normal {
  color: $base-primary;
  background: $base-background;
}

.protanopia {
  color: $protanopia-primary;
  background: $protanopia-background;  
}

.deuteranopia {
  color: $deuteranopia-primary;
  background: $deuteranopia-background;
}

// Coming soon...
// .tritanopia {
//   background: #737373;
//   color: #0080ff;
// }

