@import url('https://fonts.googleapis.com/css?family=Baskervville:700|Montserrat:400');
@import 'Main';

.App { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: map-get(map-get($themes, light), text);
  background-color: map-get(map-get($themes, light), background);
}

/* END SECTION - BODY */

/* START SECTION - FOOTER */

.footer {
    background-color: map-get(map-get($themes, dark), background);
    color: map-get(map-get($themes, dark), text);
    padding: 32px 128px;

    justify-content: center;
    align-items: center;

    max-height: 10vh;
    margin-top: auto;
}

/* END SECTION */
