@import url('https://fonts.googleapis.com/css?family=Baskervville:700|Montserrat:400');

/* Base Colour Schemes */
$themes: (
 light: (
   text: #1f0a0b,
   background: #fefbfb,
   primary: #d03e40,
   secondary: #ea9093,
   accent: #e55254,
 ),
 dark: (
   text: #f5e0e1,
   background: #040101,
   primary: #c12f31,
   secondary: #6f1518,
   accent: #ad1a1c,
 ),
);
/* Fonts setup */
* {
  font-family: 'Montserrat';
  font-weight: 400;
}
h1, h2, h3, h4, h5 {
  font-family: 'Baskervville';
  font-weight: 700;
}
html {font-size: 100%;} /* 16px */
h1 {font-size: 3.053rem; /* 48.8px */}
h2 {font-size: 2.442rem; /* 39.04px */}
h3 {font-size: 1.954rem; /* 31.2px */}
h4 {font-size: 1.563rem; /* 24.96px */}
h5 {font-size: 1.250rem; /* 20px */}
small {font-size: 0.800rem; /* 12.8px */}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

/* START SECTION - CONTAINERS */

.container {
  display: flex;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}

/* END SECTION */