@import "Variables";
@import "Containers";

.App { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: map-get(map-get($themes, light), text);
  background-color: map-get(map-get($themes, light), background);
}