@import "Variables";
@import "Containers";

.not-found {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;

  h1 {
    text-align: center;
    margin: 24px 0;
  }
  hr {
    margin: 1rem 0;
  }
  h3 {
    margin-bottom: 12px;
    font-size: 120%;
  }
  h4 {
    margin-bottom: 8px;
    font-size: 110%;
  }
  p {
    line-height: 1.5;
    margin: 12px;
  }
}