@import "Variables";
@import "Containers";

.signup-heading {
	margin-bottom: 24px;
}

.signup-form {
  width: auto;
  padding: 128px;
  justify-content: center;
  align-items: center;
}

input[type="email"]#signup-email {
  border: none;
  background-color: map-get(map-get($themes, light), secondary);
  border-radius: 8px;

  padding: 8px;
  margin: 8px;

  font-size: 100%;
  color: map-get(map-get($themes, light), text);

  width: 500px;
}
input[type="password"]#signup-password,
input[type="text"]#signup-password {
  border: none;
  background-color: map-get(map-get($themes, light), secondary);
  border-radius: 8px;

  padding: 8px;
  margin: 8px;

  font-size: 100%;

  width: 500px;
}

input[type="submit"]#signup-submit {
  border: none;
  border-radius: 8px;

  padding: 8px;
  margin: 8px;

  font-size: 100%;
  background-color: map-get(map-get($themes, light), secondary);
}

input[type="submit"]#signup-submit:hover {
  background-color: map-get(map-get($themes, light), accent);
}

.signup-button {
  border: none;
  border-radius: 8px;

  padding: 8px;
  margin: 8px;

  font-size: 100%;
  background-color: map-get(map-get($themes, light), secondary);

  flex: 1;
}

.signup-button:hover {
  background-color: map-get(map-get($themes, light), accent);
}

.hide-password {
  margin-left: 8px;
	background: none;
	border: none;
	width: 32px;
	height: auto;
	color: map-get(map-get($themes, light), text);
}