@import "Variables";
@import "Containers";

.volcano-content {
    background-color: map-get(map-get($themes, dark), background);
    color: map-get(map-get($themes, dark), text);
    padding: 16px;
    justify-content: space-around;
}

.volcano-info {
    align-items: left;
}

.volcano-content p {
    margin: 4px 0;
}